<!-- This is the newsletter-singup section //-->
<section id="newsletter-singup">
  <div class="newsletter-wrapper">
    <div class="newsletter">
      <h1>SING UP FOR EXCLUSIVE SALES AND PRODUCT NEWS</h1>
    </div>
    <div class="newsletter-register">
      <input type="text" name="email" placeholder="LOREM@IPSUM.com">
      <button class="sing-up-btn" type="button">SING UP</button>
    </div>
  </div>
</section>
<!-- This is the footer section //-->
<section id="footer">
  <footer>
    <div class="footer-container">
      <div class="section group">
        <div class="col span_1_of_3">
          <div class="footer-our-stores">
            <h3>OUR STORES</h3>
            <p>
              Fell free to visit our stores or contact us.<br>
            </p>
            <a href="https://www.google.dk/maps/place/Vindegade+109,+5000+Odense+C/@55.395589,10.3762713,17z/data=!3m1!4b1!4m5!3m4!1s0x464cdffa7a3b067b:0x7e784f485676a9c7!8m2!3d55.395586!4d10.37846?hl=en" target="_blank">Vinnegade 109<br>
              5000 ODENSE<br>
              99886622<br></a><br>
            <div class="social-media-links">
              <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="https://www.google.com" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a>
              <a href="https://www.vimeo.com" target="_blank"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
              <a href="https://www.rss.com" target="_blank"><i class="fa fa-rss" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
        <div class="col span_1_of_3">
          <div class="footer-blog-posts">
            <h3>BLOG POSTS</h3>
            <h5>Lorem ipsum hey</h5>
            Lorem ipsum dolor sit amet, consectetur<br>
            adipiscing elit. Donec sed auctor elit.<br><br>

            <h5>New sexy sport clothes are here!</h5>
            Lorem ipsum dolor sit amet, consectetur<br>
            adipiscing elit. Donec sed auctor elit.<br><br>

            <h5>Summer sales are coming!</h5>
            Lorem ipsum dolor sit amet, consectetur<br>
            adipiscing elit. Donec sed auctor elit.<br>
          </div>
        </div>
        <div class="col span_1_of_3">
          <div>
            <div class="footer-support">
              <div class="footer-links">
                <h3>SUPPORT</h3>
                <a href="#">Terms & Conditions</a><br>
                <a href="#">FAQ</a><br>
                <a href="#">Payment</a><br>
                <a href="#">Refunds</a><br>
                <a href="#">Track Order</a><br>
                <a href="#">Services</a><br>
                <a href="#">Privacy & Security</a><br>
                <a href="#">Careers</a><br>
                <a href="#">Press</a><br>
                <a href="#">Corporate Information</a>
              </div>
              <div class="footer-links2"><br>
                <a href="#">Sizing</a><br>
                <a href="#">Ordering</a><br>
                <a href="#">Shipping</a><br>
                <a href="#">Return Policy</a><br>
                <a href="#">Affiliates</a><br>
                <a href="#">Find A Store</a><br>
                <a href="#">Site Map</a>
                <a href="#">Sign Up &amp; Save</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</section>
