<section id="header">
  <header>
    <div class="logo-and-info">
      <div class="logo"><a href="index.html">SUPERSPORTS</a></div>
      <span class="">+4522660077</span>
      <span class="">LOREM@IPSUM.COM</span>
      <span class="cart"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> $99.54 CHECKOUT</span>
    </div>
    <div class="nav-bar">
      <label for="show-menu" class="show-menu">Show Menu</label>
      <input type="checkbox" id="show-menu" role="button">
      <nav>
        <ul>
          <li><a [routerLink]="['home']">HOME</a></li>
          <li><a href="#">MEN</a>
            <ul class="dropdown">
              <li><a href="#">LOREM</a></li>
              <li><a href="#">DOREM SIA</a></li>
              <li><a href="#">ERIK</a></li>
              <li><a href="#">BEHANCE</a></li>
            </ul>
          </li>
          <li><a href="#">WOMEN</a></li>
          <li><a href="#">KIDS</a></li>
          <li><a href="#">SALE</a></li>
          <li><a [routerLink]="['contact']">CONTACT US</a></li>
          <li><a href="#">SALE</a></li>
          <div class="search"><i class="fa fa-search" aria-hidden="true"></i><input type="search" name="search" placeholder="Search..."></div>
        </ul>
      </nav>
    </div>
  </header>
</section>
