<div class="top-divider1"></div>
<div class="top-divider"></div>
<section id="detail-page">
  <div class="detail-page-styles">
    <div class="section group">
      <div class="col span_1_of_2">
        <div class="container-arrange">
          <div id="full-picture">
            <div><a name="pic1"></a><img alt="" src="app/assets/shoes-large.png" /></div>
            <div><a name="pic2"></a><img alt="" src="app/assets/shoes2-large.png" /></div>
            <div><a name="pic3"></a><img alt="" src="app/assets/shoes3-large.png" /></div>
          </div>
          <div class="product-gallery">
            <ul id="navigation">
              <li><a href="#pic1"><img alt="" src="app/assets/shoes-small.png" /></a></li>
              <li><a href="#pic2"><img alt="" src="app/assets/shoes2-small.png" /></a></li>
              <li><a href="#pic3"><img alt="" src="app/assets/shoes3-small.png" /></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col span_1_of_2">
        <div class="product-description">
          <h1>GEL-FUJITRABUCO 5 G-TX</h1>
          <div class="align-logo-price">
            <img src="app/assets/nike-logo.png">
            <span class="price-in-kr">kr 947.90</span>
          </div><br>
          <span class="price-from">kr 1115.24</span>
          <span>You save 15.00%</span><br><br>
          <div class="labels">
            <label>Size</label>
            <label>Amount</label>
          </div>
          <div class="selects">
            <select class="content-1">
              <option>EU 45 BLACK</option>
              <option>EU 44 BLACK</option>
              <option>EU 43 BLACK</option>
              <option>EU 42 BLACK</option>
            </select>
            <select class="content-2">
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select></div><br>
          <button class="buy-now-btn">BUY NOW</button>
        </div>
      </div>
    </div>
  </div>
  <div class="tabs">
    <div class="column span-24 last" id="tab-set">
      <ul class="tabs">
        <li><a href="" class="selected">Description</a></li>
        <li><a href="" class="">Shipping</a></li>
        <li><a href="" class="">Sizing</a></li>
      </ul>
      <div id="text1">
        <div class="section group">
          <div class="col span_1_of_2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit, elit vitae porttitor facilisis, urna nunc sollicitudin nibh, eu sodales metus nisi a orci. Cras posuere, mauris sit amet congue commodo, ex mauris auctor massa, at tincidunt massa quam eget mauris. Suspendisse quis dignissim lacus. <br>
              <br>
              Duis vitae ante non diam porttitor porttitor nec non quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer ac risus cursus lectus fermentum consectetur. In hac habitasse platea dictumst. Fusce tristique rutrum elit id luctus. Fusce malesuada justo quis mauris scelerisque finibus. Cras porta, tortor non interdum fringilla, lorem erat aliquam justo, ut pulvinar arcu diam in odio. Etiam at nulla commodo, bibendum dolor sed, molestie justo. Integer nulla metus, efficitur eu malesuada placerat, porttitor et sapien.
            </p>
          </div>
          <div class="col span_1_of_2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit, elit vitae porttitor facilisis, urna nunc sollicitudin nibh, eu sodales metus nisi a orci. Cras posuere, mauris sit amet congue commodo, ex mauris auctor massa, at tincidunt massa quam eget mauris. Suspendisse quis dignissim lacus. <br>
              <br>
              Duis vitae ante non diam porttitor porttitor nec non quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer ac risus cursus lectus fermentum consectetur. In hac habitasse platea dictumst. Fusce tristique rutrum elit id luctus. Fusce malesuada justo quis mauris scelerisque finibus. Cras porta, tortor non interdum fringilla, lorem erat aliquam justo, ut pulvinar arcu diam in odio. Etiam at nulla commodo, bibendum dolor sed, molestie justo. Integer nulla metus, efficitur eu malesuada placerat, porttitor et sapien.
            </p>
          </div>
        </div>
      </div>
      <div id="text2">
        <div class="section group">
          <div class="col span_1_of_2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit, elit vitae porttitor facilisis, urna nunc sollicitudin nibh, eu sodales metus nisi a orci. Cras posuere, mauris sit amet congue commodo, ex mauris auctor massa, at tincidunt massa quam eget mauris. Suspendisse quis dignissim lacus. <br>
              <br>
              Duis vitae ante non diam porttitor porttitor nec non quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer ac risus cursus lectus fermentum consectetur. In hac habitasse platea dictumst. Fusce tristique rutrum elit id luctus. Fusce malesuada justo quis mauris scelerisque finibus. Cras porta, tortor non interdum fringilla, lorem erat aliquam justo, ut pulvinar arcu diam in odio. Etiam at nulla commodo, bibendum dolor sed, molestie justo. Integer nulla metus, efficitur eu malesuada placerat, porttitor et sapien.
            </p>
          </div>
          <div class="col span_1_of_2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit, elit vitae porttitor facilisis, urna nunc sollicitudin nibh, eu sodales metus nisi a orci. Cras posuere, mauris sit amet congue commodo, ex mauris auctor massa, at tincidunt massa quam eget mauris. Suspendisse quis dignissim lacus. <br>
              <br>
              Duis vitae ante non diam porttitor porttitor nec non quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer ac risus cursus lectus fermentum consectetur. In hac habitasse platea dictumst. Fusce tristique rutrum elit id luctus. Fusce malesuada justo quis mauris scelerisque finibus. Cras porta, tortor non interdum fringilla, lorem erat aliquam justo, ut pulvinar arcu diam in odio. Etiam at nulla commodo, bibendum dolor sed, molestie justo. Integer nulla metus, efficitur eu malesuada placerat, porttitor et sapien.
            </p>
          </div>
        </div>
      </div>
      <div id="text3">
        <div class="section group">
          <div class="col span_1_of_2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit, elit vitae porttitor facilisis, urna nunc sollicitudin nibh, eu sodales metus nisi a orci. Cras posuere, mauris sit amet congue commodo, ex mauris auctor massa, at tincidunt massa quam eget mauris. Suspendisse quis dignissim lacus. <br>
              <br>
              Duis vitae ante non diam porttitor porttitor nec non quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer ac risus cursus lectus fermentum consectetur. In hac habitasse platea dictumst. Fusce tristique rutrum elit id luctus. Fusce malesuada justo quis mauris scelerisque finibus. Cras porta, tortor non interdum fringilla, lorem erat aliquam justo, ut pulvinar arcu diam in odio. Etiam at nulla commodo, bibendum dolor sed, molestie justo. Integer nulla metus, efficitur eu malesuada placerat, porttitor et sapien.
            </p>
          </div>
          <div class="col span_1_of_2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed blandit, elit vitae porttitor facilisis, urna nunc sollicitudin nibh, eu sodales metus nisi a orci. Cras posuere, mauris sit amet congue commodo, ex mauris auctor massa, at tincidunt massa quam eget mauris. Suspendisse quis dignissim lacus. <br>
              <br>
              Duis vitae ante non diam porttitor porttitor nec non quam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer ac risus cursus lectus fermentum consectetur. In hac habitasse platea dictumst. Fusce tristique rutrum elit id luctus. Fusce malesuada justo quis mauris scelerisque finibus. Cras porta, tortor non interdum fringilla, lorem erat aliquam justo, ut pulvinar arcu diam in odio. Etiam at nulla commodo, bibendum dolor sed, molestie justo. Integer nulla metus, efficitur eu malesuada placerat, porttitor et sapien.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
