<section id="homepage">
  <div class="top-divider"></div>
  <div class="slider">
    <ul>
      <li><img src="app/assets/imageSlider.jpg"></li>
    </ul>
    <div class="transparent-box">
    </div>
    <div class="transparent-box-content">
      <h1>RIGHT IS PINK</h1>
      <h1>LEFT IS BLUE</h1>
      <p>
        Inspired by Brasil's bold colors and matching up to football's on-pitch playmakers, the kiks are ready to stand out.
      </p>
      <button class="shop-brasil-button" type="button">SHOP BRASIL</button>
    </div>
  </div>
  <div class="section group">
    <div class="categories">
      <div class="col span_1_of_3">
        <div class="category-1">
          <img src="app/assets/footbal-shoe-category.jpg">
          <h2>FOOTBALL SHOES</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing,
            vivamus congue nulla leo, quis imperdiet magna</p>
        </div>
      </div>
      <div class="col span_1_of_3">
        <div class="category-2">
          <img src="app/assets/modern-clothes-category.jpg">
          <h2>MODERN CLOTHES</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing,
            vivamus congue nulla leo, quis imperdiet magna</p>
        </div>
      </div>
      <div class="col span_1_of_3">
        <div class="category-3">
          <img src="app/assets/bags-and-accessories-category.jpg">
          <h2>BAGS &amp; ACCESSORIES</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing,
            vivamus congue nulla leo, quis imperdiet magna</p>
        </div>
      </div>
    </div>
  </div>
  <div class="popular-products-title"><h2>POPULAR PRODUCTS</h2></div>
  <div class="product" *ngFor="let product of products" [class.featured]="product.isfeatured">
    <div class="products">
      <div class="section group">
        <div class="col span_1_of_4">
          <div class="product">
            <div class="product-image-container">
              <div class="stars">
                <star-rating class="star-rating" [rating]="product.starrating" (ratingClicked)="onRatingClicked($event)"></star-rating>
              </div>
              <img [src]="product.image" alt={{product.name}} class="product-image">
              <div class="product-image-middle">
                <div class="product-image-text"><a [routerLink]="['/product', product.id]">Check detail page</a></div>
              </div>
            </div>
            <div class="product-text-aligned">
              <h4>{{product.name}}</h4>
              <h6>{{product.tag}}</h6>
              <p>{{product.description}}</p>
            </div>
            <hr class="horizontal-line">
            <div class="prices-icons">
              <div class="price">
                <span>$ 86.99</span>
              </div>
              <div class="like-add-icons">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div>
            </div>
            <button class="buy-now-btn">BUY NOW</button>
          </div>
        </div>
        <div class="col span_1_of_4">
          <div class="product">
            <div class="product-image-container">
              <div class="stars">
                <star-rating class="star-rating" [rating]="product.starrating" (ratingClicked)="onRatingClicked($event)"></star-rating>
              </div>
              <img [src]="product.image" alt={{product.name}} class="product-image">
              <div class="product-image-middle">
                <div class="product-image-text"><a [routerLink]="['/product', product.id]">Check detail page</a></div>
              </div>
            </div>
            <div class="product-text-aligned">
              <h4>{{product.name}}</h4>
              <h6>{{product.tag}}</h6>
              <p>{{product.description}}</p>
            </div>
            <hr class="horizontal-line">
            <div class="prices-icons">
              <div class="price">
                <span>$ 86.99</span>
              </div>
              <div class="like-add-icons">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div>
            </div>
            <button class="buy-now-btn">BUY NOW</button>
          </div>
        </div>
        <div class="col span_1_of_4">
          <div class="product">
            <div class="product-image-container">
              <div class="stars">
                <star-rating class="star-rating" [rating]="product.starrating" (ratingClicked)="onRatingClicked($event)"></star-rating>
              </div>
              <img [src]="product.image" alt={{product.name}} class="product-image">
              <div class="product-image-middle">
                <div class="product-image-text"><a [routerLink]="['/product', product.id]">Check detail page</a></div>
              </div>
            </div>
            <div class="product-text-aligned">
              <h4>{{product.name}}</h4>
              <h6>{{product.tag}}</h6>
              <p>{{product.description}}</p>
            </div>
            <hr class="horizontal-line">
            <div class="prices-icons">
              <div class="price">
                <span>$ 86.99</span>
              </div>
              <div class="like-add-icons">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div>
            </div>
            <button class="buy-now-btn">BUY NOW</button>
          </div>
        </div>
        <div class="col span_1_of_4">
          <div class="product">
            <div class="product-image-container">
              <div class="stars">
                <star-rating class="star-rating" [rating]="product.starrating" (ratingClicked)="onRatingClicked($event)"></star-rating>
              </div>
              <img [src]="product.image" alt={{product.name}} class="product-image">
              <div class="product-image-middle">
                <div class="product-image-text"><a [routerLink]="['/product', product.id]">Check detail page</a></div>
              </div>
            </div>
            <div class="product-text-aligned">
              <h4>{{product.name}}</h4>
              <h6>{{product.tag}}</h6>
              <p>{{product.description}}</p>
            </div>
            <hr class="horizontal-line">
            <div class="prices-icons">
              <div class="price">
                <span>$ 86.99</span>
              </div>
              <div class="like-add-icons">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div>
            </div>
            <button class="buy-now-btn">BUY NOW</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


